.sectionthree{
    padding:40px;
    background-color:rgb(192, 228, 236);
    .image:hover{
            transform: scale(1.15);
            transition: 1s;
        }
  }
  .contents{
    margin: 100px 0 0 50px;
  }