@import "variables";
@import "sectionone";
@import "sectiontwo";
@import "sectionthree";
@import "sectionfour";
@import "sectionfive";
@import "sectionsix";
@import "sectionseven";
@import "sectioneight";
@import "sectionine";
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap');


body
{
    background-color: $bgcolor;
    font-family: "Roboto", sans-serif;
}
h5{
    color:$bgcolor;
}







 
  
  
        

    
    





